.nav{
    /* position: relative; */
}
.navbar{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    box-shadow: 1px 0 0px 0px rgba(0, 0, 0, 0.26);
    /* position: fixed; */
    /* left: 0; */
}
.navbar i{
    /* color: blue; */
    font-size: 1.4rem;
    cursor: pointer;
    padding: 1rem;
    border-radius: 70px;
}
.navbar i:hover{
    background-color: #d4d7d8;
}
.navbar img{
    height: 4rem;
    width: 4rem;
    /* border: 2px solid black; */
    border-radius: 100px;
    cursor: pointer;
}
.navbar .logo{
    height: 2.5rem;
    width: 2.5rem;
}
.navbar .profile{
    font-size: 2.9rem;
}
.navbar .myprofile,.home,.logout{
    position: relative;
}
.navbar .myprofile:hover::after{
    content: "PROFILE";
    font-size: 0.8rem;
    position: absolute;
    bottom: -1.2rem;
    left: 0;
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}
.navbar .home:hover::after{
    content: "HOME";
    font-size: 0.8rem;
    position: absolute;
    bottom: -1.4rem;
    left: 1vw;
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}
.navbar .logout:hover::after{
    content: "LOGOUT";
    font-size: 0.8rem;
    position: absolute;
    bottom: -1.2rem;
    left: 0;
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}
.mode i{
    color: whitesmoke;
}